#login-form {
    width: 300px;
    height: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#login-form span {
    padding-right: 2rem;
}

#login-form button {
    padding: 0.25rem;
}